* {
  margin: 0;
  padding: 0;
}

.picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
}
.picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.picker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
